.grey{
    color:#8987A1;
}
.store-text li {
  
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 20px;
  padding-left: 20px;
  position: relative;
  font-family: 'Inter', sans-serif;
}

.store-text li::before {
  content: '•';
  color: black;
  font-size: 1.5rem;
  position: absolute;
  left: 0;
  top: -5px;
}

.bold {
  font-weight: bold;
  color: black;
}
.plants-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.plant-card {
    background: white;
    
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    min-height: 500px;
}

.plant-image {
    width: 100%;
    flex: 1;
    object-fit: cover;
}

.plant-info {
    padding: 1.5rem;
    
}

.plant-name {
    font-size: 1.25rem;
    font-weight: 600;
    
    color: #333;
}

.plant-price {
    font-size: 1.1rem;
    font-weight: bold;
    color: #110101;
    margin-bottom: .5rem;
    
}


.add-to-cart {
    background: #E95A08;
    color: white;
    border: none;
    padding: 12px 24px;
    
    font-weight: 600;
    
    width: 100%;
    transition: background 0.3s ease;
}

.deal-card-style {
     

    position: relative;
    border-radius: 15px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    text-shadow: 0 2px 4px rgba(0,0,0,0.5);
    flex: 1;
    min-height: 280px;
}